RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
EXCHANGE_NAME=poc.events
DLX_NAME=poc.dlx
QUEUE_NAME=poc.queue
RETRY_QUEUE_NAME=poc.queue.retry
DLQ_NAME=poc.queue.dlq
ROUTING_KEY=poc.message
RETRY_DELAY_MS=5000
MAX_RETRIES=3
PRODUCER_PORT=8080
CONSUMER_METRICS_PORT=9100
