.env
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
venv/
.venv/
dist/
build/
coverage/
*.log
*.exe
.coverage
services/producer-go/coverage
bin/
obj/
tmp/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.*.log
**/terraform.tfvars
**/tfplan
*.tfplan
