aws_region                  = "us-east-1"
ecs_cluster_arn             = "arn:aws:ecs:us-east-1:123456789012:cluster/poc-dev"
private_subnet_ids          = ["subnet-aaaa1111", "subnet-bbbb2222"]
security_group_ids          = ["sg-aaaa1111"]
execution_role_arn          = "arn:aws:iam::123456789012:role/poc-ecs-execution-role"
task_role_arn               = "arn:aws:iam::123456789012:role/poc-ecs-task-role"
rabbitmq_host               = "b-1.dev-rabbitmq.internal"
rabbitmq_username_secret_arn = "arn:aws:secretsmanager:us-east-1:123456789012:secret:poc/dev/rabbitmq/username"
rabbitmq_password_secret_arn = "arn:aws:secretsmanager:us-east-1:123456789012:secret:poc/dev/rabbitmq/password"
producer_image              = "123456789012.dkr.ecr.us-east-1.amazonaws.com/poc-producer:dev"
consumer_image              = "123456789012.dkr.ecr.us-east-1.amazonaws.com/poc-consumer-dotnet:dev"
